<style>

input[type=text], input[type=password],
input.text, input.title,
textarea, select {
  margin:0.5em 0;
  width: 75px;
}
</style>
<h1>Employees Pay Roll Details</h1>
  <%= form_for(:monthlypayconfirm, :url=> monthly_payroll_confirm_path , :class => 'carousel slide' ) do |f| %>

<table class="table table-bordered">
  <tr class="thead">
    <th>Emp ID</th>
    <th>Full Name</th>
    <th>HRA</th>
    <th>Basic</th>
    <th>TDS</th>
    <th>Special_allowanace</th>
    <th>Conveyance</th>
    <th>Tax Deducted</th>
    <th>Net Monthly</th>
    
  </tr>

<%@payload_hash.each do |eid ,employee |  %>
	
	<tr class="tdata">
    <td><%=eid%></td>
<td><%=f.text_field :"#{employee.emp_id}_full_name",  :readonly=>true ,:id=>"#{employee.emp_id}_full_name" , :value=>"#{employee.full_name}"%></td>
<td><%=f.text_field :"#{employee.emp_id}_hra",  :readonly=>true ,:id=>"#{employee.emp_id}_hra" , :value=>"#{(employee.hra).round(2)}"%></td>
<td><%=f.text_field :"#{employee.emp_id}_basic",  :readonly=>true ,:id=>"#{employee.emp_id}_basic" , :value=>"#{(employee.basic).round(2)}"%></td>
<td><%=f.text_field :"#{employee.emp_id}_tds",  :readonly=>true ,:id=>"#{employee.emp_id}_tds" , :value=>"#{employee.tds}"%></td>
<td><%=f.text_field :"#{employee.emp_id}_special_allowance",  :readonly=>true ,:id=>"#{employee.emp_id}_special_allowance" , :value=>"#{employee.special_allowance}"%></td>
<td><%=f.text_field :"#{employee.emp_id}_conveyance",  :readonly=>true ,:id=>"#{employee.emp_id}_conveyance" , :value=>"#{employee.conveyance}"%></td>
<td><%=f.text_field :"#{employee.emp_id}_net_monthly",  :readonly=>true ,:id=>"#{employee.emp_id}_net_monthly" , :value=>"#{employee.net_monthly}"%></td>
<td><%=f.text_field :"#{employee.emp_id}_tax_deducted",  :readonly=>true ,:id=>"#{employee.emp_id}_tax_deducted" , :value=>"#{employee.tax_deducted}"%></td>
  </tr>
<%end%>

</table>
<%= f.submit "Run PayRoll", :class=> "btn btn-large btn-primary" %>
 <% end %>
