<style>

input[type=text], input[type=password],
input.text, input.title,
textarea, select {
  margin:0.5em 0;
  width: 75px;
}
</style>
<script type="text/javascript">
	function calculateNetAmount(){
	<% @employees.each do |employee| %>
	var sick_hours =document.getElementById('<%=employee.id%>_sick').value
	var monthly_sal= '<%=employee.grossCTC%>'/12;
	document.getElementById('<%=employee.id%>_deducted').value=Math.round((monthly_sal*sick_hours)/160);
	document.getElementById('<%=employee.emp_id%>_net').value=Math.round(monthly_sal-(monthly_sal*sick_hours)/160)
	<%end%>
	}

</script>

<script type="text/javascript">
	var popupWindow=null;
    function child_open(emp_id){
	popupWindow =window.open("employee_view_popup?emp_id=" + emp_id,"_blank","directories=no, status=no, menubar=no, scrollbars=yes, resizable=no,width=750, height=300,top=250,left=100");
   }
   function parent_disable() {
   if(popupWindow && !popupWindow.closed)
   popupWindow.focus();
  }
</script>
<body onFocus="parent_disable();" onclick="parent_disable();" , onload="calculateNetAmount()">
<h1>Employees Salary Details </h1>
  <%= form_for(:monthlysal, :url=> monthly_payroll_path , :class => 'carousel slide' ) do |f| %>
  <h6> Running Payroll : <%= current_period_info[:current_month]%> </h6>
  <h6> Current Financial Year : <%= current_period_info[:current_fyear]%> </h6> 
<table class="table table-bordered">
  <tr class="thead">
    <th>Emp</th>
    <th>First name</th>
    <th>Yearly</th>
    <th>Gross</th>
    <th>Sick Hours</th>
    <th>Deducted Amount</th>
    <th>Net Amount</th>
    <th>Employee View</th>
  </tr>

<% @employees.each do |employee| %>
  <tr class="tdata">
  	<td><%=link_to employee.emp_id, '#', :onclick => "javascript:child_open('#{employee.emp_id}')"  %></td>
    <td><%= employee.first_name %></td>
    <td><%=f.text_field :"#{employee.emp_id}_gross",  :readonly=>true ,:id=>"#{employee.emp_id}_gross", :value=>"#{employee.grossCTC}"  %></td>
    <td><%= "#{employee.grossCTC}".to_i/12%></td>
    <td><%=f.text_field :sick_hours, :placeholder =>'0' ,:id=>"#{employee.id}_sick" , :onblur=>"calculateNetAmount()"%></td>
    <td><%=f.text_field :deducted_amount, :readonly=>true ,:id=>"#{employee.id}_deducted"%></td>
    <td><%=f.text_field :"#{employee.emp_id}",  :readonly=>true ,:id=>"#{employee.emp_id}_net"%></td>
    <td><a href="javascript:child_open('<%=employee.emp_id%>')">Employee View</a></td>
  
  </tr>
<% end %>
</table>

 <%= f.submit "Show PayRoll Values", :class=> "btn btn-large btn-primary" %>
 <% end %>
</body>
