<% provide(:title, "Sign in") %>
<h1>Admin Login</h1>

    <div class="carousel slide">
    <div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, :url=> sessions_path , :class => 'carousel slide' ) do |f| %>

      <%= f.label :username %>
      <%= f.text_field :username %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Sign in", :class=> "btn btn-large btn-primary" %>
    <% end %>

      </div>
      </div>
      </div>
</div>
</div>

