<meta charset="utf-8" />
<title>Add Employee</title>

<%= simple_form_for(@employee) do |f| %>

  <div class="row">
  <div class="span6 offset3">
  <div class="field">
    <%= f.input :emp_id %>
  </div>
  <div class="field">
    <%= f.input :first_name %>
  </div>
  <div class="field">
    <%= f.input :last_name %>
  </div>
    <%= f.input :gender,:collection=> [:male ,:female]  ,  :as=> :radio_buttons , :style =>"display:inline" , :class => "displayinline"%>
  <div class="field">
    <%= f.input :email_id  , :hint => "prices should be in UKP."%>
  </div>
  <div class="field">
    <%= f.input :address , :rows=>5, :cols=>40 %>
  </div>
  <div class="field">
    <%= f.input :phone_number %>
  </div>
  <div class="field">
    <%= f.input :pan_number %>
  </div>
  <div class="field">
    <%= f.input :bank_acc_no %>
  </div>
  <div class="field">
    <%= f.input :designation, :collection => ["Manager","Senior_Developer","Junior_Developer","QA","HR"] %>
  </div>
  <div class="field">
    <%= f.input :grossCTC %>
  </div>
  <div class="field">
  	<%= f.label :date_of_joining %>
    <%= f.datepicker :date_of_joining , :as => :date ,:dateFormat=>'dd/mm/yy'%>
  </div>
  <div class="field">
  	<%= f.label :date_of_birth %>
    <%= f.datepicker :date_of_birth  ,:as=>:date ,:dateFormat=> 'dd/mm/yy'%>
  </div>
  <div class="actions">
    <%= f.submit name:button_tag  %>
  </div>
  </div>
  </div>
<% end %>

</div id = 'emp_show'></div>



