<meta charset="utf-8" />
<title>Add Employee</title>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css" />
<script>
$(function() {
$( "#datepicker" ).datepicker();
});
function validates
{
	
}
$(document).ready(function () {

alert(“document ready”);

});
</script>
<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
  <div class="span6 offset3">

  <div class="field">
    <%= f.label :"EmployeeID" %>
    <%= f.text_field :emp_id %>
  </div>
  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :gender %>
    <%= f.radio_button :gender, 'Male', :checked => true %> Male
    <%= f.radio_button :gender, 'Female' %> Female
  </div>
  
  <div class="field">
    <%= f.label :email_id %>
    <%= f.text_field :email_id %>
  </div>
  <div class="field">
    <%= f.label :address %>
    <%= f.text_area :address , :rows=>5, :cols=>40 %>
  </div>
  <div class="field">
    <%= f.label :phone_number %>
    <%= f.number_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :pan_number %>
    <%= f.number_field :pan_number %>
  </div>
  <div class="field">
    <%= f.label :bank_acc_no %>
    <%= f.number_field :bank_acc_no %>
  </div>
  <div class="field">
    <%= f.label :designation %>
    <%= f.text_field :designation %>
  </div>
  <div class="field">
    <%= f.label :grossCTC %>
    <%= f.text_field :grossCTC %>
  </div>
  <div class="field">
    <%= f.label :date_of_joining %>
    <%= f.datepicker :date_of_joining , :dateformate=>"dd/mm/yy"%>
  </div>
  <div class="field">
    <%= f.label :date_of_birth %>
    <%= f.datepicker :date_of_birth  , :dateformate=>"dd/mm/yy"%>
  </div>
  <div class="actions">
    <%= f.submit "create employee " , :class=> "btn btn-large btn-primary" %>
  </div>
  </div>
  </div>
<% end %>


