<p id="notice"><%= notice %></p>

<h1>Employee Information</h1>
<table class="table">
	<tr>
<p>
  <b>Name:</b>
  <%= @employee.first_name %>
</p>
<p>
  <b>EmpId:</b>
  <%= @employee.emp_id %>
</p>
<p>
  <b>Grossctc:</b>
  <%= @employee.grossCTC %>
</p>

<p>
  <b>Email:</b>
  <%= @employee.email_id %>
</p>
<p>
  <b>Bank acc no:</b>
  <%= @employee.bank_acc_no %>
</p>

<p>
  <b>Designation:</b>
  <%= @employee.designation %>
</p>
<p>
  <b>Date of joining:</b>
  <%= @employee.date_of_joining %>
</p>


</table>


