<%= form_for(@tax_slab) do |f| %>
  <% if @tax_slab.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tax_slab.errors.count, "error") %> prohibited this tax_slab from being saved:</h2>

      <ul>
      <% @tax_slab.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
  <div class="span6 offset3">
 <div class="field">
    <%= f.label :year %>
    <%= f.collection_select(:id, PayPeriod.find_by_sql("select distinct current_fyear from pay_periods"), :current_fyear, :current_fyear, {:include_blank => 'Please Select'}) %>
  </div>
  <div class="field">
    <%= f.label :slab_from %>
    <%= f.text_field :slab_from %>
  </div>
  <div class="field">
    <%= f.label :slab_to %>
    <%= f.text_field :slab_to %>
  </div>
  <div class="field">
    <%= f.label :min_tax %>
    <%= f.text_field :min_tax %>
  </div>
  <div class="field">
    <%= f.label :deduction_percent %>
    <%= f.text_field :deduction_percent %>
  </div>
    <%= f.submit  "Create New Slab", :class=> "btn btn-large btn-primary" %>
  </div></div>
<% end %>
