<h1>Listing Tax Slabs</h1>

<table class="table table-striped">
  <tr class ="thead">
  	<th>Year</th>
    <th>Slab from</th>
    <th>Slab to</th>
    <th>Min tax</th>
    <th>Deduction percent</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Destroy</th>
  </tr>

<% @tax_slabs.each do |tax_slab| %>
  <tr class="tdata">
  	<td><%= tax_slab.year %></td>
    <td><%= tax_slab.slab_from %></td>
    <td><%= tax_slab.slab_to %></td>
    <td><%= tax_slab.min_tax %></td>
    <td><%= tax_slab.deduction_percent %></td>
    <td><%= link_to 'Show', tax_slab_path(tax_slab), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal_popup'}  %></td>
    <td><%= link_to 'Edit', edit_tax_slab_path(tax_slab), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal_popup'} %></td>
    <td><%= link_to 'Destroy', tax_slab, :remote => true, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New Tax slab', new_tax_slab_path,{:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal_popup'} %>

<div id="modal_popup" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"  "></div>