<p id="notice"><%= notice %></p>

<p>
  <b>Year:</b>
  <%= @tax_slab.year %>
</p>

<p>
  <b>Slab from:</b>
  <%= @tax_slab.slab_from %>
</p>

<p>
  <b>Slab to:</b>
  <%= @tax_slab.slab_to %>
</p>

<p>
  <b>Deduction percent:</b>
  <%= @tax_slab.deduction_percent %>
</p>

<p>
  <b>Min tax:</b>
  <%= @tax_slab.min_tax %>
</p>



<%= link_to 'Edit', edit_tax_slab_path(@tax_slab) %> |
<%= link_to 'Back', tax_slabs_path %>
