<script type="text/javascript">
$(document).ready(function() {
	
$('input[id$="_hra_status_yes"]').change(function() {
		 $("#hra_block").toggle();
	});
	
$('input[id$="_hra_status_no"]').change(function() {
		 $("#hra_block").toggle();
	});

$('input[id$="_house_self_occupied_yes"]').change(function() {
		 $("#hrent_block").toggle();
	});

$('input[id$="_house_self_occupied_no"]').change(function() {
		 $("#hrent_block").toggle();
	});

});
</script>

<%= form_for(@emp_declaration) do |f| %>
  <% if @emp_declaration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@emp_declaration.errors.count, "error") %> prohibited this emp_declaration from being saved:</h2>

      <ul>
      <% @emp_declaration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
  <div class="span6 offset3">
  <div class="section0">
  <div class="field">
    <%= f.label :Emp_Id %> 
    <%= @emp_id %>
  </div>
  </div>
   <div class="field" id="hra_control">
   <%= f.label :Would_you_like_to_Avail_HRA %>
   <%= radio_button(f, "hra_status", "yes", :checked => true )%>Yes
   <%= radio_button(f, "hra_status", "no") %> No

  </div>
  <div class="section1" id="hra_block">
  <div class="field">
    <%= f.label :Rent_Receipt_Provided  %> 
    <%= f.text_field :rent_receipts_total %>  <%= link_to 'calculatehra', calculatehra_path(@emp_id,10000), :remote => true %> <br />
  </div>
  <div class="field">
    <%= f.label :calculated_hra_as_per_rule1%>
    <%= f.text_field :rent_receipts_cal1 ,:readonly => true %>
  </div>
  <div class="field">
    <%= f.label :calculated_hra_as_per_rule2  %>
    <%= f.text_field :rent_receipts_cal2,:readonly => true  %>
  </div>
  <div class="field">
    <%= f.label :HRA_Applicable %>
    <%= f.text_field :total_hra,:readonly => true  %>
  </div>
  </div>
  <div class="section2">
   <div class="field">
    <%= f.label :medical_receipts %>
    <%= f.text_field :medical_receipts %>
  </div>
</div>
<div class="section3">
  <div class="field"> 
    <%= f.label :children_fee_80c %>
    <%= f.text_field :children_fee_80c %>
  </div>
  <div class="field">
    <%= f.label :donations_80g %>
    <%= f.text_field :donations_80g %>
  </div>
  <div class="field">
    <%= f.label :hloan_principal_80c %>
    <%= f.text_field :hloan_principal_80c %>
  </div>
  <div class="field">
    <%= f.label :donations_80g %>
    <%= f.text_field :donations_80g %>
  </div>
   <div class="field">
    <%= f.label :infrabonds_80c %>
    <%= f.text_field :infrabonds_80c %>
  </div>
  <div class="field">
    <%= f.label :insurance_80c %>
    <%= f.text_field :insurance_80c %>
  </div>
  <div class="field">
    <%= f.label :interest_EduLoan_80e %>
    <%= f.text_field :interest_EduLoan_80e %>
  </div>
  <div class="field">
    <%= f.label :med_insurance_80d %>
    <%= f.text_field :med_insurance_80d %>
  </div>
   <div class="field">
    <%= f.label :mf_80c %>
    <%= f.text_field :mf_80c %>
  </div>
  <div class="field">
    <%= f.label :nsc_80c %>
    <%= f.text_field :nsc_80c %>
  </div>
  <div class="field">
    <%= f.label :others_80c %>
    <%= f.text_field :others_80c %>
  </div>
  <div class="field">
    <%= f.label :ppf_80c %>
    <%= f.text_field :ppf_80c %>
  </div>
</div>
  <div class="field">
   <%= f.label :House_self_occupied %>
   <%= radio_button(f, "house_self_occupied", "yes") %> Yes
   <%= radio_button(f, "house_self_occupied", "no",:checked => true) %> No
  </div>
  <div class="section4" id="hrent_block">
  <div class="field">
    <%= f.label :house_rent %>
    <%= f.text_field :house_rent %>
  </div>
  </div>
<div class="section5" id="hloan_block">
  <div class="field">
    <%= f.label :home_loan_interest %>
    <%= f.text_field :home_loan_interest %>
  </div>
  </div>
<div class="section6">
   <div class="field">
    <%= f.label :locked_for_admin %>
    <%= f.text_field :locked_for_admin %>
  </div>
  <div class="field">
    <%= f.label :locked_for_employee %>
    <%= f.text_field :locked_for_employee %>
  </div>
  <div class="field">
    <%= f.label :updated_by %>
    <%= f.text_field :updated_by %>
  </div>
</div>
  <div class="actions">
    <%= f.submit "Submit Declaration" ,:class=>"btn btn-large btn-primary" %>
  </div>
  </div></div>
<% end %>