<p id="notice"><%= notice %></p>

<p>
  <b>Emp:</b>
  <%= @emp_declaration.emp_id %>
</p>
<p>
  <b>Hra status:</b>
  <%= @emp_declaration.hra_status %>
</p>

<p>
  <b>Rent receipts total:</b>
  <%= @emp_declaration.rent_receipts_total %>
</p>

<p>
  <b>Rent receipts cal1:</b>
  <%= @emp_declaration.rent_receipts_cal1 %>
</p>

<p>
  <b>Rent receipts cal2:</b>
  <%= @emp_declaration.rent_receipts_cal2 %>
</p>
<p>
  <b>Total hra:</b>
  <%= @emp_declaration.total_hra %>
</p>

<p>
  <b>Medical receipts:</b>
  <%= @emp_declaration.medical_receipts %>
</p>

<p>
  <b>Children fee 80c:</b>
  <%= @emp_declaration.children_fee_80c %>
</p>

<p>
  <b>Hloan principal 80c:</b>
  <%= @emp_declaration.hloan_principal_80c %>
</p>

<p>
  <b>Infrabonds 80c:</b>
  <%= @emp_declaration.infrabonds_80c %>
</p>

<p>
  <b>Insurance 80c:</b>
  <%= @emp_declaration.insurance_80c %>
</p>

<p>
  <b>Mf 80c:</b>
  <%= @emp_declaration.mf_80c %>
</p>

<p>
  <b>Nsc 80c:</b>
  <%= @emp_declaration.nsc_80c %>
</p>

<p>
  <b>Others 80c:</b>
  <%= @emp_declaration.others_80c %>
</p>

<p>
  <b>Ppf 80c:</b>
  <%= @emp_declaration.ppf_80c %>
</p>

<p>
  <b>Med insurance 80d:</b>
  <%= @emp_declaration.med_insurance_80d %>
</p>

<p>
  <b>Interest eduloan 80e:</b>
  <%= @emp_declaration.interest_EduLoan_80e %>
</p>
<p>
  <b>House Self Occupied:</b>
  <%= @emp_declaration.house_self_occupied %>
</p>

<p>
  <b>Donations 80g:</b>
  <%= @emp_declaration.donations_80g %>
</p>
<p>
  <b>Home loan interest:</b>
  <%= @emp_declaration.home_loan_interest %>
</p>

<p>
  <b>House rent:</b>
  <%= @emp_declaration.house_rent %>
</p>

<p>
  <b>Locked for admin:</b>
  <%= @emp_declaration.locked_for_admin %>
</p>

<p>
  <b>Locked for employee:</b>
  <%= @emp_declaration.locked_for_employee %>
</p>

<p>
  <b>Updated by:</b>
  <%= @emp_declaration.updated_by %>
</p>


<%= link_to 'Edit', edit_emp_declaration_path(@emp_declaration) %> |
<%= link_to 'Back', emp_declarations_path %>