<%= form_for(@config_table) do |f| %>
  <% if @config_table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@config_table.errors.count, "error") %> prohibited this config_table from being saved:</h2>

      <ul>
      <% @config_table.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
  <div class="span6 offset3">
 <div class="field">
    <%= f.label :year %>
    <%= f.collection_select(:id, PayPeriod.find_by_sql("select distinct current_fyear from pay_periods"), :current_fyear, :current_fyear, :prompt => true, :selected => @config_table.year) %>
     
  </div>
  <div class="field">
    <%= f.label :hra_percent %>
    <%= f.text_field :hra_percent %>
  </div>
  <div class="field">
    <%= f.label :basic_percent %>
    <%= f.text_field :basic_percent %>
  </div>
  <div class="field">
    <%= f.label :conveyance %>
    <%= f.text_field :conveyance %>
  </div>
  <div class="field">
    <%= f.label :professional_tax %>
    <%= f.text_field :professional_tax %>
  </div>
  <div class="field">
    <%= f.label :edu_cess %>
    <%= f.text_field :edu_cess %>
  </div>
  <div class="field">
    <%= f.label :medical_allowance %>
    <%= f.text_field :medical_allowance %>
  </div>
 <div class="field">
    <%= f.label :medical_receipts_limit %>
    <%= f.text_field :medical_receipts_limit %>
  </div>
 <div class="field">
    <%= f.label :limit_80c %>
    <%= f.text_field :limit_80c %>
  </div>
 <div class="field">
    <%= f.label :h_loan_limit %>
    <%= f.text_field :h_loan_limit %>
  </div>
 
  <div class="actions">
    <%= f.submit "Create New Config" ,:class=> "btn btn-large btn-primary" %>
  </div>
  </div></div>
<% end %>
