<h1>Listing Config Tables</h1>

<table class="table table-striped">
  <tr class="thead">
  	<th>Year</th>
    <th>Hra percent</th>
    <th>Basic percent</th>
    <th>Conveyance</th>
    <th>Professional tax</th>
    <th>Edu cess</th>
    <th>Medical Allowance</th>
    <th>Medical Receipts Upper Limit</th>
    <th>80C Upper Limit</th>
    <th>House Loan Upper Limit If HRA is applicable</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @config_tables.each do |config_table| %>
  <tr class="tdata">
  	<td><%= config_table.year %></td>
    <td><%= config_table.hra_percent %></td>
    <td><%= config_table.basic_percent %></td>
    <td><%= config_table.conveyance %></td>
    <td><%= config_table.professional_tax %></td>
    <td><%= config_table.edu_cess %></td>
    <td><%= config_table.medical_allowance %></td>
    <td><%= config_table.limit_80c %></td>
    <td><%= config_table.medical_receipts_limit %></td>
    <td><%= config_table.h_loan_limit %></td>
    <td><%= link_to 'Show', config_table %></td>
    <td><%= link_to 'Edit', edit_config_table_path(config_table) %></td>
    <td><%= link_to 'Destroy', config_table, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Config table', new_config_table_path %>
