<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= link_to image_tag('/images/wales.png'),"www.google.com" , :id=> "logo" %>
   
      <% if signed_in? %>
      <nav>
        <ul class="nav pull-right">
        	<%if login_as?%>
            <li><%= link_to "Employee Info", empinfo_path %></li>
            <%end%>
            <li><%= link_to "Pay Slips", '#' %></li>
            
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Declarations & Taxes <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "New DeclarationForm", emp_declaration_details_path(:emp_id => current_user.emp_id) %></li>
            <li><%= link_to "Sign out", signout_path, :method=> "delete" %></li>
        </ul>
      </nav>
      <%end%>
    </div>
  </div>
  
</header>

