<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= link_to image_tag('/images/wales.png'),"www.google.com" , :id=> "logo" %>
      <%= image_tag "images/wales.png", :id=>"logo" %>
      <% if signed_in? %>
      <nav>
        <ul class="nav pull-right">
          <li class="active"><a href="#"><i class="icon-home icon-white"></i> Home</a></li>
            <li><%= link_to "Employee Info", empinfo_path %></li>
            <li><%= link_to "Declarations & Taxes", '#' %></li>
            <li><%= link_to "Pay Slips", '#' %></li>
            <li><%= link_to "Sign out", signout_path, :method=> "delete" %></li>
        </ul>
      </nav>
      <%end%>
    </div>
  </div>
  
</header>

