<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= link_to image_tag('/images/wales.png'),"www.google.com" , :id=> "logo" %>
    
      <% if signed_in? && is_admin? %>
      <nav>
        <ul class="nav pull-right">
          <li class="active"><a href="#"><i class="icon-home icon-white"></i> Home</a></li>
          <li><%= link_to "consolidated pay", "#" %></li>
          
            <li><%= link_to "Run Payroll", '#' %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Slbs & Config <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Slabs", new_tax_slab_path %></li>
                <li><%= link_to "Config", new_config_table_path %></li>
              </ul>
            </li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Employee <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Add Employee", new_employee_path %></li>
                <li><%= link_to "Employee List", employees_path %></li>
                <li><%= link_to "Bulk Edit of Emp Pay", '#' %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, :method=> "delete" %>
                </li>
              </ul>
            </li>
            
        </ul>
      </nav>
      <%end%>
    </div>
  </div>
  
</header>

